$primary: #1d2033;
$bleu: #1f55ca;
$red: #eb3035;
$grey: #3a3c4c;
$white: #ffffff;
$black: black;
$dark: #51459E;
.primary {
  color: $primary;
}

.bleu {
  color: $bleu;
}

.red {
  color: $red;
}

.grey {
  color: $grey;
}

.white {
  color: $white;
}

.black {
  color: $black;
}
