@import "./global/colors.scss";
@import "./global/rules.scss";
@import "./global/typo.scss";
@import "./global/toastify.scss";
@import "./login/login.scss";
@import "./codeAuth/codeAuth.scss";
@import "./dashboard/dashboard.scss";
@import "./dashboard/accountsListing.scss";
@import "./dashboard/AuthLogin.scss";
@import "./dashboard/AdminAssignTable.scss";
@import "./dashboard/UserPopup.scss";
//@import "./home_page.scss";
@import "./dashboard/settings.scss";
@import "./dashboard/generateAccount.scss";

.banned-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.banned-h1 {
  color: rgb(164, 154, 154);
  font-size: 3rem;
  text-align: center;
  a {
    font-size: 2rem;
    text-align: center;
  }
}

:root {
  --scrollbar-height: 10px;
  --scrollbar-width: 10px;
  --scrollbar-track-bg: #efefef;
  --scrollbar-thumb-bg: #d5d5d5;
  --scrollbar-thumb-hover-bg: #c4c4c4;
}

::-webkit-scrollbar {
  height: var(--scrollbar-height);
  width: var(--scrollbar-width);
}

::-webkit-scrollbar-track {
  background: var(--scrollbar-track-bg);
  border-radius: 6px;
}

::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb-bg);
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar-thumb-hover-bg);
}

.body_form {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  background: #f2f6fa;
}

footer {
  background-color: #f2f6fa !important;
}
